	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="_includes/assets/js/jquery.js"></script>
	<script src="_includes/assets/js/plugins.js"></script>

	<!-- Map
	============================================= -->
	<script src="https://maps.google.com/maps/api/js?key=AIzaSyDGka1X-NRAvbiYrAzYRTYsbhTQIKFdyLI"></script>
	<script src="_includes/assets/js/jquery.gmap.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="_includes/assets/js/functions.js"></script>