<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Julia Bailey" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,700|PT+Serif:400,400i" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="_includes/assets/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="_includes/assets/style.css" type="text/css" />
	<link rel="stylesheet" href="_includes/assets/css/dark.css" type="text/css" />

	<!-- Barber Demo Specific Stylesheet -->
	<link rel="stylesheet" href="_includes/assets/barber/barber.css" type="text/css" />
	<link rel="stylesheet" href="_includes/assets/barber/css/fonts.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="_includes/assets/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="_includes/assets/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="_includes/assets/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="_includes/assets/one-page/css/et-line.css" type="text/css" />

	<link rel="stylesheet" href="_includes/assets/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="_includes/assets/barber/css/colors.css" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>Shang-gri-la Salon | Julia Bailey @ Salong Concepts</title>

	<style>
		/* Page Loading Style */
		.css3-spinner {height:100vh; -webkit-box-align:center; -ms-flex-align:center; align-items:center; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; background-color: #AAAC4C; } @keyframes pulse {0% {opacity: 0; -webkit-transform: scale3d(.8, .8, .8); transform: scale3d(.8, .8, .8); } 50% { opacity: 1; } } .infinite.animated.pulse { -webkit-animation-duration: 1.7s; animation-duration: 1.7s; }
	</style>

</head>
